<div class="container">
<h3 class="addFilm">Edytuj film</h3>
<div class="container">
        <form #filmForm="ngForm" (ngSubmit)="editFilm(filmForm)">
        <div class="row">
    <div class="col-6" style="margin-top: 10px">
      <div class="filter">
          <div class="form-group">
            <label for="exampleFormControlInput1">Tytuł:</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="film.title">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Premiera:</label>
            <input type="text" class="form-control"  name="year" [(ngModel)]="film.year">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Kraj produkcji:</label>
            <input type="text" class="form-control" name="country" [(ngModel)]="film.country">
          </div>

          <div class="form-group">
          <label for="exampleFormControlInput1" >Aktorzy którzy grają w filmie:</label><br>




        <select multiple name="actors" [(ngModel)]="actor" class="custom-select mb-2 mr-sm-2 mb-sm-0">
        <option *ngFor="let actor of actors" [ngValue]="actor">
             {{ actor.name }} {{ actor.surname }}
        </option>
  </select>

          </div>
          <button type="submit" class="btn btn-default">Edytuj</button>
      </div>
    </div>
    <div class="col-6" style="margin-top: 10px">
      <div class="form-group">
        <label for="exampleFormControlInput1">Reżyser:</label>
        <input type="text" class="form-control"  name="director" [(ngModel)]="film.director">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Okładka:</label>
        <input type="text" class="form-control"  name="image" [(ngModel)]="film.image">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Gatunek:</label>
        <input type="text" class="form-control"  name="genre" [(ngModel)]="film.genre">
      </div>
    </div>
    </div>
  </form>
</div>
</div>
