.filter {
  height: 100%;
}

.filter h3, .col-9 h3, .addFilm {
  border-bottom: 1px solid black;
}

.menu {
  margin-bottom: 50px;
  width: 100%;
}

.film {
  width: 100%;
  min-height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
}

.filmInfo, .filmActors {
  padding: 10px;
}

.filmButtons {
  margin-top: 20px;
  float: right;
}

.filmCover img {
  max-height: 200px;
  max-width: 146.31px;
  padding: 10px;
}
