<div class="container">
<h3 class="addFilm">Dodaj film</h3>
<div class="container">
      <form (ngSubmit)="addFilm($event)">
        <div class="row">
    <div class="col-6" style="margin-top: 10px">
      <div class="filter">
          <div class="form-group">
            <label for="exampleFormControlInput1">Tytuł:</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Premiera:</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Kraj produkcji:</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
          <label for="exampleFormControlInput1">Aktorzy którzy grają w filmie:</label><br>
        <select multiple="true" class="custom-select mb-2 mr-sm-2 mb-sm-0" name="aktorzy">
        <option *ngFor="let actor of actors" value={{actor.name}}>
        {{actor.name}} {{actor.surname}}
        </option>
        </select>
          </div>
          <button type="submit" class="btn btn-default">Dodaj</button>
      </div>
    </div>
    <div class="col-6" style="margin-top: 10px">
      <div class="form-group">
        <label for="exampleFormControlInput1">Reżyser:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Okładka:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Gatunek:</label>
        <input type="text" class="form-control">
      </div>
    </div>
    </div>
  </form>
</div>
</div>
