<div class="container">
<h3 class="addFilm">Dodaj film</h3>
<div class="container">
        <form #userForm="ngForm" (ngSubmit)="addFilm(userForm)">
        <div class="row">
    <div class="col-6" style="margin-top: 10px">
      <div class="filter">
          <div class="form-group">
            <label for="exampleFormControlInput1">Tytuł:</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="title">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Premiera:</label>
            <input type="text" class="form-control"  name="year" [(ngModel)]="year">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Kraj produkcji:</label>
            <input type="text" class="form-control" name="country" [(ngModel)]="country">
          </div>



          <div class="form-group">
          <label for="exampleFormControlInput1" >Aktorzy którzy grają w filmie:</label><br>




        <select multiple name="actors" [(ngModel)]="actor">
        <option *ngFor="let actor of actors" [ngValue]="actor">
             {{ actor.name }}
        </option>
  </select>

          </div>
          <button type="submit" class="btn btn-default">Dodaj</button>
      </div>
    </div>
    <div class="col-6" style="margin-top: 10px">
      <div class="form-group">
        <label for="exampleFormControlInput1">Reżyser:</label>
        <input type="text" class="form-control"  name="director" [(ngModel)]="director">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Okładka:</label>
        <input type="text" class="form-control"  name="image" [(ngModel)]="image">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Gatunek:</label>
        <input type="text" class="form-control"  name="genre" [(ngModel)]="genre">
      </div>
    </div>
    </div>
  </form>
</div>
</div>
