<div class="container">
  <div class="row">
    <div class="col-9">
      <h3>Aktorzy</h3>
      <div class="film" *ngFor="let actor of actors">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="filmCover">
                <img src={{actor.image}} class="img-responsive" alt="Responsive image" />
              </div>
            </div>
            <div class="col">
              <div class="filmInfo">
                <h5>Imię: {{actor.name}}</h5> Nazwisko: <b>{{actor.surname}}</b>
                <br> Data urodzenia: <b>{{actor.birth}}</b>
                <br> Wzrost: <b>{{actor.height}}</b><br> Nagrody: <b *ngFor="let prize of actor.prizes"><li>{{prize}}</li></b>
              </div>
            </div>
            <div class="col">
              <div class="filmActors">
                <h6>Filmy:<br></h6>
                <li *ngFor="let film of actor.films">{{film.title}}</li>
                <div class="filmButtons">
                  <button type="button" class="btn btn-default btn-sm">
            <span class="fa fa-pencil"></span> Edytuj
          </button>
                  <button type="button" class="btn btn-default btn-sm" (click)="remove(actor.id)">
            <span class="fa fa-trash"></span> Usuń
          </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="filter">
        <h3>Filtr</h3>
        <form (ngSubmit)="filter(actor.value, film.value)">
          <div class="form-group">
            <label for="exampleFormControlInput1">Imie i nazwisko:</label>
            <input type="text" class="form-control" #actor>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Film:</label>
            <input type="text" class="form-control" #film>
          </div>
          <button type="submit" class="btn btn-default">Filtruj</button>
        </form>
      </div>
    </div>
  </div>
