<div class="container">
<h3 class="addFilm">Edytuj aktora</h3>
<div class="container">
      <form #actorForm="ngForm" (ngSubmit)="editActor(actorForm)">
        <div class="row">
    <div class="col-6" style="margin-top: 10px">
      <div class="filter">
          <div class="form-group">
            <label for="exampleFormControlInput1">Imię:</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="actor.name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nazwisko:</label>
            <input type="text" class="form-control" name="surname" [(ngModel)]="actor.surname">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Data urodzenia:</label>
            <input type="text" class="form-control" name="birth" [(ngModel)]="actor.birth">
          </div>
          <div class="form-group">
          <label for="exampleFormControlInput1">Filmy w których gra aktor:</label><br>
          <select multiple name="films" [(ngModel)]="film" class="custom-select mb-2 mr-sm-2 mb-sm-0">
          <option *ngFor="let film of films" [ngValue]="film">
               {{ film.title }}
          </option>
    </select></div>
          <button type="submit" class="btn btn-default">Dodaj</button>
      </div>
    </div>
    <div class="col-6" style="margin-top: 10px">
      <div class="form-group">
        <label for="exampleFormControlInput1">Zdjęcie:</label>
        <input type="text" class="form-control" name="image" [(ngModel)]="actor.image">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Wzrost:</label>
        <input type="text" class="form-control" name="height" [(ngModel)]="actor.height">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Nagrody:</label>
        ​<textarea rows="10" cols="70" class="form-control" name="prizes" [(ngModel)]="actor.prizes"></textarea>
      </div>
    </div>
    </div>
  </form>
</div>
</div>
