<div class="container">
<h3 class="addFilm">Dodaj aktora</h3>
<div class="container">
      <form (ngSubmit)="filter(title.value, actor.value, genre.value)">
        <div class="row">
    <div class="col-6" style="margin-top: 10px">
      <div class="filter">
          <div class="form-group">
            <label for="exampleFormControlInput1">Imię:</label>
            <input type="text" class="form-control" #title>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nazwisko:</label>
            <input type="text" class="form-control" #actor>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Data urodzenia:</label>
            <input type="text" class="form-control" #title>
          </div>
          <div class="form-group">
          <label for="exampleFormControlInput1">Filmy w których gra aktor:</label><br>
          <select multiple class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" #genre>
      <option selected>Wybierz...</option>
      <option value="Obyczajowy">Obyczajowy</option>
      <option value="Przygodowy">Przygodowy</option>
      <option value="Horror">Horror</option>
    </select></div>
          <button type="submit" class="btn btn-default">Dodaj</button>
      </div>
    </div>
    <div class="col-6" style="margin-top: 10px">
      <div class="form-group">
        <label for="exampleFormControlInput1">Zdjęcie:</label>
        <input type="text" class="form-control" #title>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Wzrost:</label>
        <input type="text" class="form-control" #title>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Nagrody:</label>
        ​<textarea rows="10" cols="70" class="form-control"></textarea>
      </div>
    </div>
    </div>
  </form>
</div>
</div>
